body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #999;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 95.5%;
}
header,
main,
footer {
	background-color: #ddd;
	font-size: 1.55em;
}

header {
	padding: 1.5px 0;
    color: blue;   
}

header h1 {
	text-align: center;
    font-size: 2.5em
}
#tripLocation {
    margin: 20px 25px 20px 25px
}


h2 {
	margin: .5;
    text-align: center;
    color: rgb(76, 139, 197);
    font-size: 1.5em;
}

p {
    font-size: .75em;
    margin: 2em;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#firstCaption {
    font-size: .75em;
    text-align: center
}

h3.section-Headings {
    font-size: 1.25em;
    text-align: center;
    padding: 1px;
    color: orangered; 
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  
  .column2 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  
  .column3 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row3::after {
    content: "";
    clear: both;
    display: table;
  }
  * {
    box-sizing: border-box;
  }
  
  .column4 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row4::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  
  .column5 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row5::after {
    content: "";
    clear: both;
    display: table;
  }
  * {
    box-sizing: border-box;
  }
  
  .column6 {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row6::after {
    content: "";
    clear: both;
    display: table;
  }
  * {
    box-sizing: border-box;
  }
  
  .column7 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row7::after {
    content: "";
    clear: both;
    display: table;
  }
  * {
    box-sizing: border-box;
  }
  
  .column8 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row8::after {
    content: "";
    clear: both;
    display: table;
  }

* {
    box-sizing: border-box;
}
.column9 {
    float: left;
    width: 50%;
    padding: 5px;
}
.row9::after {
    content: "";
    clear: both;
    display: table;
  }

* {
  box-sizing: border-box;
}
.column10 {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row10::after {
  content: "";
  clear: both;
  display: table;
}

* {
    box-sizing: border-box;
  }
  .column11 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row11::after {
    content: "";
    clear: both;
    display: table;
  }
  
  * {
    box-sizing: border-box;
  }
  .column12 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row12::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  .column13 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row13::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  .column14 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row14::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  .column15 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row15::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  .column16 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row16::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  .column17 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row17::after {
    content: "";
    clear: both;
    display: table;
  }

  * {
    box-sizing: border-box;
  }
  .column18 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  .row18::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  








/* p {
    color: rgb(185, 11, 142);
    
} */
/* p.pink-paragraph {
    color: rgb(185, 11, 142);
}
#pinkParagraph {
    color: rgb(185, 11, 142);
 } */
 
 